<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Signin</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>

          All Users
        </a>
      </div>

      <div>
        <a href="/photos">
          <i class="fas fa-users"></i>

          All Photos
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
